In [1]:
# 北車，共1個
# 2017.2018年

import pandas as pd
import matplotlib.pyplot as plt

df_r11_2017 = pd.read_csv('C:/Users/ching/Desktop/final project/data/MRT_Data_complete_0819/MRT_Data_2017_complete_0819/台北車站.csv')
df_r11_2018 = pd.read_csv('C:/Users/ching/Desktop/final project/data/MRT_Data_complete_0819/MRT_Data_2018_complete_0819/台北車站.csv')

#C:/Users/ching/Desktop/final project/data/MRT_Data_complete_0819/MRT_Data_2017_complete_0819

In [13]:
cluster6_1718 = pd.concat([df_r11_2017,df_r11_2018])
cluster6_1718.shape

(14679, 14)

In [14]:
cluster6_1718['Sum_people'] = cluster6_1718['Get_In_Count']+cluster6_1718['Way_Out_Count']
cluster6_1718.head()

,Unnamed: 0,Date,Time,Station,Get_In_Count,Way_Out_Count,StnPres,Temperature,RH,WS,WD,Precp,W_Station,Holiday,Sum_people
0,0,2017-01-01,0,台北車站,2249,590,1019.2,20.7,69,4.3,70,0.0,466920TaiPei,1,2839
1,1,2017-01-01,1,台北車站,44,0,1019.0,20.5,72,3.5,60,0.0,466920TaiPei,1,44
2,2,2017-01-01,5,台北車站,0,0,1017.8,20.2,72,5.6,50,0.0,466920TaiPei,1,0
3,3,2017-01-01,6,台北車站,1278,4214,1018.5,20.0,74,3.0,50,0.0,466920TaiPei,1,5492
4,4,2017-01-01,7,台北車站,2707,5655,1019.2,20.5,72,4.6,50,0.0,466920TaiPei,1,8362

In [15]:
#設儲存路徑及檔名
Result ='C:/Users/ching/Desktop/final project/data/MRT_Data_complete_0819/8cluster_6/8cluster_6_train.csv'

#to.csv
cluster6_1718.to_csv(Result, index=True )

print( '成功產出'+ Result)

成功產出C:/Users/ching/Desktop/final project/data/MRT_Data_complete_0819/8cluster_6/8cluster_6_train.csv

In [9]:
# 北車，共1個
# 2019年

import pandas as pd
import matplotlib.pyplot as plt

df_r11_2019 = pd.read_csv('C:/Users/ching/Desktop/final project/data/MRT_Data_complete_0819/MRT_Data_2019_complete_0819/台北車站.csv')
#C:/Users/ching/Desktop/final project/data/MRT_Data_complete_0819/MRT_Data_2017_complete_0819

In [10]:
df_r11_2019.head()

,Unnamed: 0,Date,Time,Station,Get_In_Count,Way_Out_Count,StnPres,Temperature,RH,WS,WD,Precp,W_Station,Holiday
0,0,2019-01-01,0,台北車站,2182,329,1024.8,16.1,89.0,2.9,100,0.5,466920TaiPei,1
1,1,2019-01-01,1,台北車站,34,0,1024.7,15.9,90.0,2.5,100,0.5,466920TaiPei,1
2,2,2019-01-01,5,台北車站,0,0,1023.6,15.9,90.0,3.3,110,0.5,466920TaiPei,1
3,3,2019-01-01,6,台北車站,1438,3497,1024.2,15.8,90.0,3.1,90,0.5,466920TaiPei,1
4,4,2019-01-01,7,台北車站,2350,4703,1024.8,15.9,89.0,3.5,100,0.5,466920TaiPei,1

In [11]:
df_r11_2019['Sum_people'] = df_r11_2019['Get_In_Count']+df_r11_2019['Way_Out_Count']
df_r11_2019.head()

,Unnamed: 0,Date,Time,Station,Get_In_Count,Way_Out_Count,StnPres,Temperature,RH,WS,WD,Precp,W_Station,Holiday,Sum_people
0,0,2019-01-01,0,台北車站,2182,329,1024.8,16.1,89.0,2.9,100,0.5,466920TaiPei,1,2511
1,1,2019-01-01,1,台北車站,34,0,1024.7,15.9,90.0,2.5,100,0.5,466920TaiPei,1,34
2,2,2019-01-01,5,台北車站,0,0,1023.6,15.9,90.0,3.3,110,0.5,466920TaiPei,1,0
3,3,2019-01-01,6,台北車站,1438,3497,1024.2,15.8,90.0,3.1,90,0.5,466920TaiPei,1,4935
4,4,2019-01-01,7,台北車站,2350,4703,1024.8,15.9,89.0,3.5,100,0.5,466920TaiPei,1,7053

In [12]:
#設儲存路徑及檔名
Result ='C:/Users/ching/Desktop/final project/data/MRT_Data_complete_0819/8cluster_6/8cluster_6_test.csv'

#to.csv
df_r11_2019.to_csv(Result, index=True )

print( '成功產出'+ Result)

成功產出C:/Users/ching/Desktop/final project/data/MRT_Data_complete_0819/8cluster_6/8cluster_6_test.csv